body {
  min-height: 100vh;
}

input {
  width: 100%;
  height: 50px;
  padding: 20px;
  font-size: 20px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 0.5rem;
  box-sizing: border-box;
}

input:focus {
  border: 1px solid rgba(51, 51, 51, 1);
}

.mb-1 {
  margin-bottom: 1rem;
}

.customizedKeyboard  {
  max-width: 850px;
  margin: 0 auto;
}

.keyboardAnimation {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform .5s;
}

.keyboardAnimation.active {
  transform: translateY(0%);
}

.hg-button {
  color: #000;
}